{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post" class="p-5 mx-auto" style="max-width: 500px;">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating mb-3">
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Email">
            <label for="username">Email</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" id="password" name="_password" class="form-control" placeholder="Password">
            <label for="password">Password</label>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="mb-3">
            Don't have an account yet? <a href="{{ path('registration') }}">Login</a>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
{% endblock %}
